/* Add your global styles here */
/*body   { 
	/*background-color: DeepSkyBlue ; *//*
	background-image: url("JungscharEmbrach.png");
	background-repeat: no-repeat;
	background-position: 90% top;
	color: rgb(112, 106, 25);
	height: 100vh;
}
*/